<!DOCTYPE html>
<html>
  <head>
    <title> <%= title %> </title>
<button type="Login" class="btn btn-success" onclick="login()">Login</button>
<script>
  function login() {
    fetch('<%= hostname %>/auth/login', {
      method: 'GET',
      mode: 'no-cors',
      redirect: 'follow'
    })

  }
</script>
  </head>

</html>