<!DOCTYPE html>
<html>
  <head>
    <%- include ('../components/head') %> 
  </head>
<body>
  <button type="Login" class="btn btn-success" onclick="openWin()">Login</button>
  <script>
    function openWin() {
      window.open("/auth/login");
    }
    </script>
</body>
</html>